html { font: 0.9em/1.4 "Lucida Grande", Helvetica, sans-serif }

body { 
       margin: 1em 10%; 
    max-width: 50em;
}

p {
    color: #333;
}

a {
              color: rgb(0, 136, 204);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

acronym, abbr, span.caps {
  cursor: help;
}

acronym, abbr {
  border-bottom: 1px dashed #999;
}

th {
    background-color: #eee;
}

h1 {
    padding-bottom: 14px;
    border-bottom: 1px solid #ccc;
    font-size: 1.8em;
}

#navigation {
      position: relative;
    text-align: right;
}

#navigation p {
      position: absolute;
      right: 0;
      top: 5px;
}

#footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#footer, #navigation { 
    font-size: 0.8em;
        color: gray;
}

#footer p, #navigation {
    margin: 0;
     color: gray;
}

#history {
	margin-top: 20pt;
	margin-bottom: 20pt;
}

#history table {
    font-size: 0.8em;
}

#history td {
	padding-left: 10pt;
	padding-right: 10pt;
}

#history td.author {
	text-align: center;
}

#history td.page {
	text-align: center;
}
